<app-nav class="nav"></app-nav>
<app-menuhamburguer></app-menuhamburguer>
<div class="container border rounded">
    <div class="d-flex mt-3">
      <h1><i class="far fa-file-powerpoint"></i> Proyecto nuevo</h1>
    </div>
    
      <form>
        
        <div class="row">
          <div class="col datos">
            <input type="text" name="nombre" id="nombre" class="form-control" placeholder="Nombre"
            [(ngModel)]="nombre">
          </div>         
          
        </div>
        <div >
          <textarea class="form-control" [(ngModel)]="descripcion" name="descripcion" id="descripcion" placeholder="Descripcion"></textarea>
        </div>
        
        
        <div>
          <label class="progreso">Seleccione los empleados que quieran trabajar en el proyecto</label><br/>
          <mat-form-field appearance="fill">
            <mat-label>Empleados</mat-label>
            <mat-select multiple>
              <mat-option *ngFor="let empleado of empleados" [value]="empleado" (click)="seleccionado(empleado)">{{empleado.nombre}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <label class="progreso">Seleccione el progreso del proyecto</label><br/>
          <mat-form-field appearance="fill">
            <mat-label>Cliente</mat-label>
            <mat-select>
              <mat-option *ngFor="let cliente of clientes" [value]="cliente"  (click)="seleccionadoCliente(cliente)" >{{cliente.nombre}}</mat-option>
            </mat-select>
          </mat-form-field>

        </div>
        


        <button type="submit" class="btn btn-primary" (click)="crearProyecto()">Agregar</button>
      </form>
      
    
  
  </div>
