.perfilContainer {
	margin-top: 120px;
}

.cards {
  font-size: 18px;
  height: 88%;
}

.tituloCards {
	display: flex;
	justify-content: space-between;
}

.botonEliminar {
	border:none;
	background-color: transparent;
	color: red;
}

.cardNotas {
	font-size: 18px;
	overflow-y: auto;
	height: 88%;
}

.iconoPapelera {
	display: flex;
	justify-content: space-between;

}

.nota {
	width: 100%;
}
.cardNotas::-webkit-scrollbar {
    -webkit-appearance: none;
}

.cardNotas::-webkit-scrollbar:vertical {
    width:5px;
}

.cardNotas::-webkit-scrollbar-button:increment,.cardNotas::-webkit-scrollbar-button {
    display: none;
} 

.cardNotas::-webkit-scrollbar:horizontal {
    height: 10px;
}

.cardNotas::-webkit-scrollbar-thumb {
    background-color: #b9b7b7;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.cardNotas::-webkit-scrollbar-track {
    border-radius: 10px;  
}

.contenedorCards {
	margin-top: 40px;
}

.botonesEditar {
	font-size: 14px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
  }
  .offcanvas-collapse.open {
    visibility: visible;
    transform: translateX(-100%);
  }
}

.text-white-50 { color: rgba(255, 255, 255, .5); }

.bg-purple { background-color: #6f42c1; }

$bg: darken(white, 10%);
$shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$shadow1: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);


.profile {
  display: flex;
  justify-content: center;
}

.card{
	width:1300px;
	max-width:100%;
	min-height:70px;
	overflow:hidden;
	border-radius:4px;
	box-shadow:$shadow;
	background-color:transparent;
	position:relative;	
	display: -webkit-box; 
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex; 
	display: flex;
	flex-direction:column;
	.card-top{
		-webkit-flex-basis:155px;
		flex-basis:120px;
		flex-shrink:1;	
		background-position:center;
		background-size:cover;	

		.editarImagen {
			display: inline-block;
			position: absolute;
			margin-left: 100px;
			margin-top: 90px;
		}
	}
	.card-profile{
		display: inline-block;
		flex-basis:0px;
    	flex-shrink:1;
   
		.profile-image{
			overflow:hidden;
			border-radius:20%;
			position:absolute;
			left:calc(8% - 75px);
			top:calc(141% - 155px);
			width:90px;
			height:90px;			
			background-size:cover;
			background-position:center;
		}

		.profile-image img {
			width: 100%;
			height: 100%;
      		object-fit: cover;
      		object-position: center center;
		}
	}

}
	.profile-image{
		background-image: url(https://images.unsplash.com/photo-1507120878965-54b2d3939100?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&s=57f3676a7820564424855d5e5c6b09e7);
	}

	.card-top{
		background-image: url(https://images.unsplash.com/photo-1421789665209-c9b2a435e3dc?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&s=b0aa3fbba9c018e93499effa49dd8e83);
		//background-image: url(https://images.unsplash.com/photo-1470063819038-51ab7ad86ab6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
		//background-image: linear-gradient(310deg,#7928ca,#ff0080);
		//background-image: linear-gradient(310deg,#245380,#8F2F7E);
	}


//MODAL EDITAR
.modal-header {
	height: 55px;
}

//CARD PERFIL

.botonEditarFoto {
	border-radius:30%;
	border-color: transparent;
	margin-top: 60px;
	position: absolute;
	margin-top: -35px;
	margin-left: 105px;
}

.iconoEditar {
	font-size: 10px;
}

.labelBoton {
	height: 10px;
}

input {
    border: none;
    border-bottom: 1px rgb(202, 199, 199) solid;
    font-size: 16px;
}

textarea {
    border: 1px rgb(202, 199, 199) solid;
    
}

input:focus, select:focus, select, input.form-control:focus, textarea:focus {

    outline:none !important;

    outline-width: 0 !important;

    box-shadow: none;

    -moz-box-shadow: none;

    -webkit-box-shadow: none;

}
