.content {
    position: fixed;
    width: 90%;
    margin: auto;
    margin-top: 120px;
    margin-left: 15%;
  }

  //ICONO
.iconoInfo {
    background-image: url("https://media.giphy.com/media/2wWBH0vXsVUmKtRJOe/giphy.gif");
    background-size: cover;
    width: 150px;
    height: 150px;
    animation: movimiento 2.5s linear infinite;
}

@keyframes movimiento {
    0%{
        transform: translateY(0);  
    }
    50% {
        transform: translateY(30px);
    }
    100% {
        transform: translateY(0);  
    }
}

//CONTENIDO
.card-title {
    font-size: 35px;
    text-align: left;
    font-weight: bold;
    color: #245380;
  }

.filaInput {
    margin-top: 60px;
}

.card{
    background-color: transparent;
    margin-bottom: 20px;
    position: relative;
    border: 0 none;
    
    
      .card-body{
          padding: 5px 15px 40px 25px;
          margin-right: -110px;
          margin-left: 40px;
          
      }
  
      .contenidoFila1 {
        font-size: 1.5em;
        text-align: justify;
        color:	#a9a9a9;
        margin-left: 50px;
      }
  }

.mensaje {
    margin-bottom: 20px;
    position: relative;
    border: 0 none;
    
      .card-body{
          padding: 5px 0px 40px 0px;
          margin-left: 40px;
         margin-right: -140px;
      }
  
      .contenido {
        font-size: 1.5em;
        text-align: justify;
        color:	#a9a9a9;
      }
}

.botonEnviar {
    width: 100%;
    margin-left: 93%;
}

.enviar {
    font-size: 18px;
}

input {
    border: none;
    border-bottom: 1px rgb(202, 199, 199) solid;
    font-size: 16px;
}

textarea {
    border: 1px rgb(202, 199, 199) solid;
    
}

input:focus, select:focus, select, input.form-control:focus, textarea:focus {

    outline:none !important;

    outline-width: 0 !important;

    box-shadow: none;

    -moz-box-shadow: none;

    -webkit-box-shadow: none;

}