<app-nav class="nav"></app-nav>
<app-menuhamburguer></app-menuhamburguer>

<div class="content">
  <form novalidate #f="ngForm">

    <div class="col-lg-12 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body">
                <div class="row">
                    <div class="iconoInfo"></div>
                    <div class="col-7 col-md-10">
                        <div class="contenidoFila1">
                            <p class="card-title">Contáctanos</p>
                            <div class="row filaInput">
                            <div class="col-md-5">
                                <div class="form-group">
                                  <label for="nombre">Correo de contacto</label>
                                  <input type="text" name="nombre" id="nombre" class="form-control" 
                                    required [(ngModel)]="correo">
                                </div>
                              </div>
                              <div class="col-md-4">
                                <div class="form-group">
                                  <label for="apellido1">Asunto</label>
                                  <input type="text" name="apellido1" id="apellido1" class="form-control" 
                                     required [(ngModel)]="asunto">
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-10 col-sm-6">
        <div class="card card-stats mensaje">
            <div class="card-body">
                <div class="row">
                    <div class="col-7 col-md-10">
                        <div class="contenido">
                            <div class="form-group">
                                <label for="mensaje">Mensaje</label>
                                <textarea rows="15" cols="80" type="text" name="mensaje" id="mensaje" class="form-control"
                                  required [(ngModel)]="mensaje" minlength="4" maxLength="254"></textarea>
                              </div>
                              <div class="botonEnviar">
                              <button type="button"  [disabled]="!f.valid" class="btn btn-primary enviar" (click)="enviarCorreo(); f.reset();" >Enviar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </form>
</div>

