@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
//CARDS DE INFORMACIÓN
.content {
  width: 80%;
  margin: auto;
  margin-top: 120px;
}

.card-title {
  font-size: 25px;
  text-align: right;
  color: black;
}

.iconoUsuario {
  color: pink;
}

.card{
  box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
  background-color: #FFFFFF;
  margin-bottom: 20px;
  position: relative;
  border: 0 none;

    .card-body{
        padding: 5px 15px 0px 25px;
    }

    .numbers {
      font-size: 1.5em;
      text-align: right;
      color:	#a9a9a9;
    }

    .card-footer{
        background-color: transparent;
        border: 0;
      
        .stats{
            i{
                margin-right: 5px;
                position: relative;
                top: 0px;
                
            }
        }
    }
}

.grafico2 {
  height: 408px;
}

.graficos {
  display: flex;
  //justify-content: space-between;
}

.ejemplo1 {
  background-image: url("https://media.istockphoto.com/photos/blue-background-picture-id996078816?k=6&m=996078816&s=170667a&w=0&h=C3L7Pw5mKT1R9hvrZinXMvMGVBOxoaQKiAemkigPnKc=");
  height: 300px;
}

.card1 {
  height: 300px;
}

.imagenCard1 {
  background-image: url("https://thumbs.dreamstime.com/b/fondo-bonito-de-la-primavera-con-flor-cerezo-blanca-en-el-del-rosa-colores-pastel-bokeh-soleado-114532537.jpg");
  //background-color: black;
  height: 200px;
  border-radius: 20px;
  margin-top: 42px;
  margin-left: 90px;
  margin-right: -30px;
}

.infoCard1 {
  margin-left: 15px;
}

.iconoFlecha {
  margin-left: 3px;
}

.infoCard2 {
  margin-top: 158px;
}