<app-nav class="nav"></app-nav>
<app-menuhamburguer></app-menuhamburguer>
<div class="contenedor d-flex">
    <div class="card" style="height: 9rem;">
        <div class="card-body">
            <div class="d-flex"><i class="fas fa-users fa-3x iconoUsuario"></i>
                <p class="card-title titulo">Card title</p>
            </div>
            <p class="card-text numero">
                23
              </p>
              <hr class="hr">
              <div class="d-flex">
                    <i class="far fa-calendar iconoStatus"></i><p class="status"> Last day</p>
              </div>
        </div>
      </div>

      <div class="card" style=" height: 9rem;">
        <div class="card-body">
            <div class="d-flex"><i class="fas fa-users fa-3x iconoUsuario"></i>
                <p class="card-title titulo">Card title</p>
            </div>
            <p class="card-text numero">
                23
              </p>
              <hr class="hr">
              <div class="d-flex">
                    <i class="far fa-calendar iconoStatus"></i><p class="status"> Last day</p>
              </div>
        </div>
      </div>

      
      <div class="card" style="height: 9rem;">
        <div class="card-body">
            <div class="d-flex"><i class="fas fa-users fa-3x iconoUsuario"></i>
                <p class="card-title titulo">Card title</p>
            </div>
            <p class="card-text numero">
                23
              </p>
              <hr class="hr">
              <div class="d-flex">
                    <i class="far fa-calendar iconoStatus"></i><p class="status"> Last day</p>
              </div>
        </div>
      </div>
    

      <div class="card" style="height: 9rem;">
        <div class="card-body">
            <div class="d-flex"><i class="fas fa-users fa-3x iconoUsuario"></i>
                <p class="card-title titulo">Card title</p>
            </div>
            <p class="card-text numero">
                23
              </p>
              <hr class="hr">
              <div class="d-flex">
                    <i class="far fa-calendar iconoStatus"></i><p class="status"> Last day</p>
              </div>
        </div>
      </div>
</div>