<app-nav class="nav"></app-nav>
<app-menuhamburguer></app-menuhamburguer>
<div class="content-fluid introduccion">
  <div class="cohete"></div>
  <div class="textoIntroduccion">
    <h1 class="bienvenida">BIENVENIDO AL PORTAL ASO</h1>
    <p class="comienza">Una plataforma que te va a permitir gestionar y realizar un seguimiento de tus proyectos de manera intuitiva</p>
    <p class="comienza1">¡ Conoce como funciona !</p>
    <button routerLink="/conoce-el-portal" type="button" class="btn  mt-2 botonComenzar">Comenzar</button>
  </div>
</div>
<div class="content">
  <div class="row">
    <div class="col-lg-7 col-md-6 col-sm-6">
      <div class="card card-stats card1">
        <div class="card-body">
          <div class="row">
            <div class="col-7 col-md-8 mt-1">
              <div class="icon-big  icon-warning">
                <h4 class="tituloXataka">XATAKA</h4>
                <p>Publicación de noticias sobre gadgets y tecnología. Últimas tecnologías en electrónica 
                  de consumo y novedades tecnológicas en móviles, tablets, informática, ...</p>
              </div>
            </div>
            <div class="col-7 col-md-4">
              <div class="imagenCard1">
              </div>
            </div>
            <div class="row">
              <a href="https://www.xataka.com/" target="_blank" class="infoCard1">Leer más <i class="fas fa-chevron-right iconoFlecha"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-5 col-md-6 col-sm-6">
      <div class="card card-stats card2">
        <div class="card-body">
          <div class="row">
            <div class="col-7 col-md-12 textoCard2">
              <div>
                <h4 class="tituloSeguridad">Aprende sobre seguridad</h4>
                <p class="parrafoCard2">Blog personal de Chema Alonso, CDCO Telefónica, 0xWord, MyPublicInbox, sobre seguridad, hacking, hackers y Cálico Electrónico.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <a href="https://www.elladodelmal.com/" target="_blank" class="infoCard2">Leer más <i class="fas fa-chevron-right iconoFlecha"></i></a>
          </div>
        </div> 
      </div>
    </div>

  </div>

  <!--Graficos-->
  <div class="row mt-4">
    <div class="col-lg-5 mb-lg-0 mb-4 ">
      <div class="card">
        <div class="card-body p-3">
            <app-grafico-contador-usuarios></app-grafico-contador-usuarios>
            <h6 class="ms-2 mt-4 mb-0">Usuarios activos</h6>
            <p class="text-sm ms-2">Último mes</p>
            <div class="container"></div>
        </div>
      </div>
    </div>
    <div class="col-lg-7">
    <div class="card grafico2">
      <div class="card-body">
        <h6>Estados del proyecto</h6>
        <p class="text-sm">En este mes</p>
        <div >
          <app-grafico class="ejemplo"></app-grafico>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="row mt-4">
    <div class="col-lg-7 mb-lg-0 mb-5">
      <div class="card grafico2">
        <div class="card-body">
          <h6>Estados del proyecto</h6>
          <p class="text-sm">En este mes</p>
          <div >
            <app-grafico-usuarios class="ejemplo"></app-grafico-usuarios>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-5">
      <div class="card grafico2">
        <div class="card-body p-3">
            <h2>Tecnologías de desarrollo</h2>
            <div class="row fila1">
            <div class="col-7 col-md-7 divtecnologias">
              <div class="imagenSpring">
              </div>
              <div class="textoSpring">
              <p>Spring Boot para el desarrollo del back-end</p>
            </div>
            </div>
            <div class="col-7 col-md-5 divtecnologias">
              <div class="imagenAngular">
              </div>
              <p>Angular para el desarrollo del front-end</p>
            </div>
          </div>
          <div class="row filaMariaDB">
            <div class="col-7 col-md-4 divtecnologias">
              <div class="imagenMariaDB">
              </div>
              <p class="mt-2">Maria DB para la gestión de la base de datos</p>
            </div>
          </div>
        </div>
      </div>
  </div>
  </div>


  
  
</div>