.boton {
    margin-top: 550px;
}

.btn {
    width: 300px;
    height: 60px;
    color:white;
    background-color:  #4D8FCC;
    border-color:#4D8FCC;
    font-size: 20px;
}

.btn:hover{
    background-color:#4D8FCC;
    opacity: .9;
}

.pag{
    position: fixed;
    top:0;
    width: 100%;
    left:0;
    margin:0px;
    display: flex;
    justify-content: center;	
}

.titulo {
    position: fixed;
    display: flex;
    justify-content: center;
}

.fondo {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/paracaida2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    //filter: blur(2px);
}

.container {
    width: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 4.5em;
    text-align: center;
}

p {
    text-transform: uppercase;
	letter-spacing: .5em;
	text-align: center;
	position: fixed;
    top: 18%;
    
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}

//MEDIAQUERIES
@media screen and (max-width: 1449px) {
    .titulo {
        font-size: 30px;
       line-height: 55px;
    }
}

