//BURBUJAS
.burbuja {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #4D8FCC;
    opacity: .1;
    position: absolute;
    bottom: -150;
    left: 5%;
    animation: burbujas 3s linear infinite;
}

.burbuja:nth-child(1){
    width: 80px;
    height: 80px;
    left: 5%;
    animation-duration: 3.4s;
}

.burbuja:nth-child(2){
    width: 70px;
    height: 70px;
    left: 35%;
    animation-duration: 3.8s;
}

.burbuja:nth-child(3){
    width: 20px;
    height: 20px;
    left: 15%;
    animation-duration: 6s;
}

.burbuja:nth-child(4){
    width: 50px;
    height: 50px;
    left: 90%;
    animation-duration: 6s;
}

.burbuja:nth-child(5){
    width: 30px;
    height: 30px;
    left: 65%;
    animation-duration: 3.6s;
}

.burbuja:nth-child(6){
    width: 20px;
    height: 20px;
    left: 25%;
    animation-duration: 4.5s;
}

.burbuja:nth-child(7){
    width: 10px;
    height: 10px;
    left: 40%;
    animation-duration: 4s;
}

.burbuja:nth-child(8){
    width: 40px;
    height: 40px;
    left: 52%;
    animation-duration: 5s;
}

.burbuja:nth-child(9){
    width: 65px;
    height: 65px;
    left: 21%;
    animation-duration: 4.8s;
}

.burbuja:nth-child(10){
    width: 40px;
    height: 40px;
    left: 80%;
    animation-duration: 3s;
}

@keyframes burbujas {
    0%{
        bottom: 0;
        opacity: 0;
    }
    30%{
        transform: translateX(30px);
    }
    50% {
        opacity: .2;
    }
    100%{
        bottom: 100vh;
        opacity: 0;
    }
}
.content {
    position: fixed;
    width: 90%;
    margin: auto;
    margin-top: 120px;
    margin-left: 7%;
  }

  //ICONO
.iconoInfo {
    background-image: url("../../assets/information.png");
    background-size: cover;
    width: 150px;
    height: 150px;
    animation: movimiento 2.5s linear infinite;
}

@keyframes movimiento {
    0%{
        transform: translateY(0);  
    }
    50% {
        transform: translateY(30px);
    }
    100% {
        transform: translateY(0);  
    }
}

//CONTENIDO
.card-title {
    font-size: 35px;
    text-align: left;
    color: black;
  }

.parrafo {
    margin-top: 40px;
}

.card{
    background-color: transparent;
    margin-bottom: 20px;
    position: relative;
    border: 0 none;
    
    
      .card-body{
          padding: 5px 15px 40px 25px;
          margin-right: -110px;
          margin-left: 40px;
          
      }
  
      .introduccion {
        font-size: 1.5em;
        text-align: justify;
        color:	#a9a9a9;
        margin-left: 50px;
      }
  }

.guia {
    margin-bottom: 20px;
    position: relative;
    border: 0 none;
    
      .card-body{
          padding: 5px 0px 40px 0px;
          margin-left: 40px;
         margin-right: -140px;
      }
  
      .introduccion {
        font-size: 1.5em;
        text-align: justify;
        color:	#a9a9a9;
      }
}