<app-nav class="nav"></app-nav>
<app-menuhamburguer></app-menuhamburguer>

<div class="burbujas">
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
 </div>

<div class="content">
    <div class="col-lg-11 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body">
                <div class="row">
                    <div class="iconoInfo"></div>

                    <div class="col-7 col-md-10">
                        <div class="introduccion">
                            <p class="card-title">¿Qué es ASO?</p>
                            <p class="parrafo">Fita se siente orgullosa de haber nacido jirafa. Acaba de cumplir doce
                                meses y ya es mucho más alta que su mejor amiga, una simpática liebre llamada Orejotas.
                                A Fita le encanta pensar que dentro de poco tiempo, cuando llegue a la edad adulta, su
                                cuerpo larguirucho le permitirá oler las nubes y contemplar cosas maravillosas que los
                                demás animales jamás verán.

                                La jirafita Fita adora comer hierba fresca, pero de vez en cuando levanta el cuello y
                                mordisquea los jugosos frutos que se esconden en las copas de los árboles ¡Ser el animal
                                más alto del planeta tiene muchas ventajas! Si no encuentra ninguno no se preocupa ¡Se
                                da un buen banquete a base de tiernas hojas de acacia y asunto arreglado!</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-6 col-sm-6">
        <div class="card card-stats guia">
            <div class="card-body">
                <div class="row">
                    <div class="col-7 col-md-10">
                        <div class="introduccion">
                            <p class="card-title">Guía del Portal</p>
                            <p class="parrafo">Fita se siente orgullosa de haber nacido jirafa. Acaba de cumplir doce
                                meses y ya es mucho más alta que su mejor amiga, una simpática liebre llamada Orejotas.
                                A Fita le encanta pensar que dentro de poco tiempo, cuando llegue a la edad adulta, su
                                cuerpo larguirucho le permitirá oler las nubes y contemplar cosas maravillosas que los
                                demás animales jamás verán.

                                La jirafita Fita adora comer hierba fresca, pero de vez en cuando levanta el cuello y
                                mordisquea los jugosos frutos que se esconden en las copas de los árboles ¡Ser el animal
                                más alto del planeta tiene muchas ventajas! Si no encuentra ninguno no se preocupa ¡Se
                                da un buen banquete a base de tiernas hojas de acacia y asunto arreglado!</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-6 col-sm-6">
        <div class="card card-stats guia">
            <div class="card-body">
                <div class="row">

                    <div class="col-7 col-md-10">
                        <div class="introduccion">
                            <p class="card-title">A cerca de nosotros</p>
                            <p class="parrafo">Fita se siente orgullosa de haber nacido jirafa. Acaba de cumplir doce
                                meses y ya es mucho más alta que su mejor amiga, una simpática liebre llamada Orejotas.
                                A Fita le encanta pensar que dentro de poco tiempo, cuando llegue a la edad adulta, su
                                cuerpo larguirucho le permitirá oler las nubes y contemplar cosas maravillosas que los
                                demás animales jamás verán.

                                La jirafita Fita adora comer hierba fresca, pero de vez en cuando levanta el cuello y
                                mordisquea los jugosos frutos que se esconden en las copas de los árboles ¡Ser el animal
                                más alto del planeta tiene muchas ventajas! Si no encuentra ninguno no se preocupa ¡Se
                                da un buen banquete a base de tiernas hojas de acacia y asunto arreglado!</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!--CONTENT-->