<app-nav class="nav"></app-nav>
<app-menuhamburguer></app-menuhamburguer>
<div class="container border rounded">
    <div class="d-flex mt-3">
      <h1><i class="far fa-file-powerpoint"></i> Editar proyecto</h1>
    </div>
    
      <form *ngIf="proyecto">
        
        <div class="row">
          <div class="col datos">
            <input type="text" name="nombre" id="nombre" class="form-control" placeholder="Nombre"
            [(ngModel)]="proyecto.nombre"/>
          </div>         
          
        </div>
        <div >
          <textarea class="form-control " [(ngModel)]="descripcion"  id="descripcion" name="descripcion" placeholder="Descripcion"></textarea>
        </div>
       

        <label class="progreso">Seleccione el estado al cual quiere que se cambie</label><br/>
        <mat-form-field appearance="fill" >
          
          <mat-label>Estados</mat-label>
          <mat-select  [(value)]="proyecto.estado.estado" [(ngModel)]="proyecto.estado.estado" name="estadoSelecc">
            <mat-option *ngFor="let e of estados" value="{{e.estado}}">{{e.estado}}</mat-option>
          </mat-select>
        </mat-form-field>  
      
        <button type="submit" class="btn btn-primary" (click)="editarProyecto()">Guardar</button>
      </form>
      
  </div>
