<app-nav class="nav"></app-nav>
<app-menuhamburguer></app-menuhamburguer>
<div class="container">
<div class="container border rounded">
    <div *ngIf="proyecto" class="d-flex mt-3">
      <h1><i class="far fa-file-powerpoint iconoProyecto"></i> {{proyecto.nombre}}</h1>
    </div>
    <h3 class="text-muted">Edita tu proyecto</h3>
      <form *ngIf="proyecto" #f="ngForm" (ngSubmit)="editarProyecto()" novalidate>
        <div class="row mt-4">
          <div class="col-md-4 ml-2">
            <label>Nombre:</label>
            <input type="text" name="nombre" id="nombre" class="form-control" placeholder="Nombre"
            [(ngModel)]="proyecto.nombre" required/>
          </div>  
          <div class="col-md-7 ml-2">
            <label>Descripción:</label>
            <textarea rows="8" cols="100" class="form-control " minlength="4" maxLength="254" [(ngModel)]="descripcion"  id="descripcion" name="descripcion" placeholder="Descripcion" required></textarea>
          </div>   
          <div class="col-md-2 estado ml-2">
            <div class="form-group">
              <label for="formatoEstado">Estado:</label>
              <select [(ngModel)]="formatoEstado" [(value)]="formatoEstado" name="formatoEstado" class="form-select" required>
                <option *ngFor="let e of formatoEstados" value="{{e}}">{{e}}</option>
              </select>
            </div> 
          </div> 
        </div>
   
      <div class="clearfix">
        <button type="button"  class="btn btn-primary botonGuardar" (click)="editarProyecto()" [disabled]="!f.valid">Guardar</button>
      </div>
      </form>
  </div>
</div>