.container {
    margin-top: 100px;
}

h1 {
    font-size: 30px;
    color: #245380;
    font-weight: bold;
}
button{
    float: right;
}
.datos{
    padding-bottom: 30px;
}

.progreso{
    margin-top: 30px;
}

