@import "src/styles.scss";
.tabla {
    width: 500px;
}

.container {
    margin-top: 50px;
   
}

h1 {
    font-size: 30px;
    color: $corporate-color-blue-magenta;
    font-weight: bold;
}

.iconoProyecto {
    color:  $corporate-color-blue-magenta;
    font-weight: bold;
}

