@import "src/styles.scss";
h5 {
    width:200px;
    font-size: 17px;
    
}

.listado {
    align-items: center;
}

.fechaModificacion {
    font-size: 12px;
    margin-right: -55px;
}

.progress-bar {
    background-color: rgb(8, 197, 8);
}

.container {
    margin-top: 50px;
}

.buscador {
    width: 1100px;
}

h1 {
    font-size: 30px;
    color: $corporate-color-blue-magenta;
    font-weight: bold;
}

.iconoProyecto {
    color:  $corporate-color-blue-magenta;
    font-weight: bold;
}

.botonAnadir {
    background-color: $corporate-color-blue-magenta;
    border: none;
    margin-bottom: 6px;
}

.botonBuscar {
    background-color: transparent;
    border:none;
}

.botonEditarDescargar {
    background-color: transparent;
    border:none;
   
}

.iconoEditarDescargar {
    color:  $corporate-color-blue-magenta;
    font-weight: bold;
}