@import "src/styles.scss";

h5 {
    width:400px;
    font-size: 17px;
}

.listado {
    align-items: center;
}

.fechaModificacion {
    font-size: 12px;
    text-align: right;
    margin-right: 4px;
}

.container {
    margin-top: 120px;
}

.mat-form-field {
    width: 100%;
}

h1 {
    font-size: 30px;
    color: #245380;
    font-weight: bold;
}

.form-control {
    resize: none;
}

.iconoFichero {
    color:  #245380;
    font-weight: bold;
}

.botonAnadir {
    background-color: #245380;
    border: none;
    margin-bottom: 6px;
    height: 35px;
}

span {
    height:35px;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
}

.botonBuscar {
    background-color: transparent;
    border:none;
}

.botonEditarDescargar {
    background-color: transparent;
    border:none;
}

.iconoEditarDescargar {
    color:  #245380;
    font-weight: bold;
}

//MEDIAQUERIES
@media screen and (max-width: 280px) {
    h5 {
        font-size: 14px;
        
    }

    .listado {
        display: flex;
        flex-direction: column;
    }
    .botones {
        display: flex;
        flex-direction: row !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px){
    
    h5 {
        margin-right: 80px;
        width: 200px;
    }
    .listado {
        align-items: right !important;
        display: flex;
        flex-direction: column;
    }
    .botones {
        margin-left: 190px;
        margin-top:-40px;
        
    }
    .fechaModificacion {
        text-align: left;
        margin-right: 75px;
    }
    
    
}

@media screen and (min-width: 320px) and (max-width: 767px){
    
    h5 {
        margin-right: 80px;
    }
    .listado {
        align-items: right !important;
        display: flex;
        flex-direction: column;
    }
    .botones {
        margin-left: 190px;
        margin-top:-40px;
        
    }
    
    
}