<app-nav class="nav"></app-nav>
<app-menuhamburguer></app-menuhamburguer>

<div class="container">
  <div class="container border rounded">
    <div class="d-flex mt-3">
      <h1><i class="far fa-file-code iconoFichero"></i> Ficheros</h1>
    </div>
    <h3 class="text-muted">Listado de ficheros</h3>

    <button type="button" class="btn btn-primary botonAnadir">
      <label style="cursor:pointer;" for="file-uploade">
        Añadir <i class="fas fa-cloud-upload-alt"></i>
        <input id="file-uploade" (change)="selectFile($event)" type="file" style='display: none;' />
      </label>

    </button>

    <mat-form-field class="example-full-width">
      <form class="d-flex">
        <textarea matInput placeholder="Ex. Planificación" [(ngModel)]="filterPosts" class="form-control"
          name="filterPosts"></textarea>
        <button style="cursor:pointer;" class="botonBuscar"><i class="fas fa-search"></i></button>
      </form>
    </mat-form-field>

    <div class="list-group mb-2"
      *ngFor="let fichero of ficheros | filter: filterPosts | paginate:page_size:page_number">
      <a class="list-group-item list-group-item-action" aria-current="true">
        <div class="item d-flex w-100 justify-content-between listado">
          <h5 class="mb-1">{{fichero.nombre}}</h5>
          <div class="d-flex listado">
            <h5 class="mb-1 fechaModificacion">Fecha de modificación: {{fichero.formato}}</h5>
            <div class="botones">
              <label style="cursor:pointer;" for="{{fichero.id}}" class="botonEditarDescargar iconoEditarDescargar">
                <i class="fas fa-edit fa-2x"></i>
              </label>
              <input id="{{fichero.id}}" (change)="editaFile(fichero.id, $event)" type="file" style='display: none;' />
              <button style="cursor:pointer;" (click)="descargarArchivo(fichero)" class="botonEditarDescargar iconoEditarDescargar"><i
                  class="fas fa-download fa-2x"></i></button>
            </div>
          </div>
        </div>
      </a>
    </div>

    <mat-paginator [length]="ficheros.length" [pageSize]="page_size" [pageSizeOptions]="pageSizeOptions" 
    showFirstLastButtons (page)="handlePage($event)"></mat-paginator>

  </div>
</div>