@import "src/styles.scss";

h5 {
    width:200px;
    font-size: 17px;
    
}

.listado {
    align-items: center;
    
}


.fechaModificacion {
    font-size: 12px;
}

.container {
    margin-top: 120px;
}

.mat-form-field {
    width: 100%;
}

h1 {
    font-size: 30px;
    color: $corporate-color-blue-magenta;
    font-weight: bold;
}

.iconoProyecto {
    color:  $corporate-color-blue-magenta;
    font-weight: bold;
}

.botonAnadir {
    background-color: $corporate-color-blue-magenta;
    border: none;
    margin-bottom: 6px;
    height: 35px;
    
}

span {
    height:35px;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
}

.botonBuscar {
    background-color: transparent;
    border:none;
}

.botonEditarDescargar {
    background-color: transparent;
    border:none;
   
}

.iconoEditarDescargar {
    color:  $corporate-color-blue-magenta;
    font-weight: bold;
}

@media screen and (max-width: 280px) {
    h5 {
        font-size: 14px;
        
    }

    .listado {
        display: flex;
        flex-direction: column;
    }
    .botones {
        display: flex;
        flex-direction: row !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px){
    
    h5 {
        margin-right: 80px;
    }
    .listado {
        align-items: right !important;
        display: flex;
        flex-direction: column;
    }
    .botones {
        margin-left: 190px;
        margin-top:-40px;
        
    }
    
    
}

@media screen and (min-width: 320px) and (max-width: 767px){
    
    h5 {
        margin-right: 80px;
    }
    .listado {
        align-items: right !important;
        display: flex;
        flex-direction: column;
    }
    .botones {
        margin-left: 190px;
        margin-top:-40px;
        
    }
    
    
}
