h5 {
    width:200px;
    font-size: 14px;
}

.nombreProyecto {
    font-size: 16px;
}

.progress-bar {
    background-color: rgb(8, 197, 8);
}

.form-control{
    resize: none;
}

.container {
    margin-top: 50px;
}

.mat-form-field {
    width: 100%;
}

h1 {
    font-size: 30px;
    color: #245380;
    font-weight: bold;
}

.iconoProyecto {
    color:  #245380;
    font-weight: bold;
}

.botonBuscar {
    background-color: transparent;
    border:none;
}

.barraProgreso {
    margin-left: 58%;
}

.botonEditar {
    background-color: transparent;
    border:none;
    margin-top: 30px;
    margin-right: -12px;
}

.iconoEditar {
    color:  #245380;
    font-size: 15px;
}
.botonAnadir {
    background-color: #245380;
    border: none;
    margin-bottom: 6px;
    height: 33px;
    font-size: 15px;
}

.modal-header {
	height: 55px;
}

.matField {
    margin-top: -7px;
}

.matLabel {
    margin-left: 13px;
}

.botonesCrear {
    font-size: 14px;
}

textarea {
    font-size: 15px;
}
input {
    border: none;
    border-bottom: 1px rgb(202, 199, 199) solid;
    font-size: 15px;
}

input:focus, select:focus, select, textarea:focus {
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}