<div class="container border rounded">
  <div class="d-flex mt-3">
    <h1><i class="far fa-file-powerpoint iconoProyecto"></i> Proyectos</h1>
</div>
  <h3 class="text-muted">Listado de proyectos</h3>

  

    <mat-form-field class="example-full-width buscador">
      <form class="d-flex">
      <textarea matInput placeholder="Ex. Adrián Martos" [(ngModel)]="filterProyectos" class="form-control" name="filterProyectos"></textarea>
      <button href='#' class="botonBuscar"><i class="fas fa-search"></i></button>
  </form>
    </mat-form-field>

<div class="list-group mb-2" *ngFor="let proyecto of proyectos | filter: filterProyectos">
  <a href="#" routerLink="/ficheros/:id" class="list-group-item list-group-item-action" aria-current="true" (click)="prueba(proyecto)">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{proyecto.nombre}}</h5>
      <h5 class="mb-1 let"><p>{{proyecto.formato}}</p>
        <ngb-progressbar [value]="proyecto.valor" type="success" *ngIf="proyecto.completado">{{proyecto.valor}}%</ngb-progressbar>
        <ngb-progressbar [value]="proyecto.valor" *ngIf="!proyecto.completado">{{proyecto.valor}}%</ngb-progressbar></h5>
    </div>
  </a>
</div>
</div>

