h5 {
    width:200px;
    font-size: 14px;
}

.nombreProyecto {
    font-size: 16px;
}

.progress-bar {
    background-color: rgb(8, 197, 8);
}

.form-control{
    resize: none;
}

.container {
    margin-top: 50px;
}

.mat-form-field {
    width: 100%;
}

h1 {
    font-size: 30px;
    color: #245380;
    font-weight: bold;
}

.iconoProyecto {
    color:  #245380;
    font-weight: bold;
}

.botonBuscar {
    background-color: transparent;
    border:none;
}