<mat-toolbar class="header">
  <mat-toolbar-row>
    <div class="start">
        <div class="logo">
        <!--<img src="./assets/logo_aso.png" alt="logo" style="width: 35px;">!-->
      </div>
      <h1 routerLink="/catalogo"><i class="fab fa-asymmetrik"></i> Portal ASO</h1>
    </div>
    <span class="spacer"></span>
    <button *ngIf="verJornada" mat-icon-button  [matMenuTriggerFor]="more" color="basic" class="botonMore icon-display">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #more="matMenu" >
      <button mat-menu-item routerLink="/jornada"><mat-icon>history</mat-icon> Jornada</button>
    </mat-menu>
    <button class="icon" mat-mini-fab aria-hidden="false" [matMenuTriggerFor]="menu" color="basic">
      <mat-icon>person</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/perfil"><mat-icon>badge</mat-icon> Mi perfil</button>
      <button mat-menu-item (click)="onLogOut()"><mat-icon>logout</mat-icon> Cerrar Sesión</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
