h1 {
  color: whitesmoke;
  font-size: 30px;
  margin-top: 10px;
  margin-left: 8px;
}

.header {
  background-color:#245380;
  z-index: 200;
  width: 100%;
  position: fixed;
}

.spacer {
  flex: 1 1 auto;
}

.username,
.icon {
  margin: 0 5px;
}

.logo {
  margin-top: 10px;
}

.icon {
  background-color: white;
}

.start {
  display: contents;
  cursor: pointer;
}

.botonMore {
  color:white;
}

.icon-display {
  transform: scale(1.5);
}