@import "src/styles.scss";

h1 {
  color: whitesmoke;
  font-size: 30px;
  margin-top: 10px;
  margin-left: 8px;
}

.header {
  background-color: $corporate-color-blue-magenta;
  z-index: 200;
}

.spacer {
  flex: 1 1 auto;
}

.username,
.icon {
  margin: 0 5px;
}

.logo {
  margin-top: 10px;
}

.icon {
  background-color: whitesmoke;
}

.start {
  display: contents;
  cursor: pointer;
}

.botonMore {
  color:white;
  
  
}

.icon-display {
  transform: scale(1.5);
}
