<app-nav class="nav"></app-nav>
<app-menuhamburguer></app-menuhamburguer>

<div class="container">
    <div class="row">

        <div class="col-md-12">
            <div class="card profile-card-1">
                
                <img src="https://www.10wallpaper.com/wallpaper/1366x768/1607/Google_play_abstract_gradient-Vector_HD_Wallpaper_1366x768.jpg"
                    alt="profile-sample1" class="background" />
                <img src="https://fiverr-res.cloudinary.com/images/q_auto,f_auto/gigs/172681276/original/6606d2d9d4adbc1b51f0812549bfcfb8c790d78e/do-aso-send-you-1000-plus-organic-user-for-app.jpg" alt="profile-image" class="profile" />
                <div class="card-content">
                    <h2>Bienvenido<small>Comienza tu jornada con nosotros</small></h2>
                    <div class="icon-block"><button type="button" class="btn  boton">Iniciar Jornada</button>
                         <button type="button" class="btn boton">Finalizar Jornada</button>
                    </div>
                </div>
                
            </div>
    
        </div>
    </div>
 
</div>
