<!--Menu-->
<input type="checkbox" id="menu" />
<label for="menu" class="menu">
    <span></span>
    <span></span>
    <span></span>
</label>

<nav class="nav">
    <ul>
        <li><a style="cursor:pointer;" routerLink="/catalogo"><i class="fas fa-chart-line"></i> &nbsp;Catálogo</a></li>
        <li><a style="cursor:pointer;" routerLink="/proyectos"><i class="far fa-file-powerpoint"></i> &nbsp;Proyectos</a></li>
        <li><a style="cursor:pointer;" *ngIf="visibilidadDirector" routerLink="/seguimiento"><i class="fas fa-users"></i> &nbsp;Seguimiento</a></li>
        <li><a style="cursor:pointer;" *ngIf="visibilidadDirector" routerLink="/dar-alta"><i class="fas fa-user-check"></i> &nbsp;Dar de alta</a></li>
		<li><a style="cursor:pointer;" routerLink="/contactanos"><i class="fas fa-at"></i> &nbsp;Contactanos</a></li>
    </ul>
</nav>

<!--Fondo e icono: cerrar sesión-->
<div class="fondo">
    <mat-toolbar class="header">
        <mat-toolbar-row>
          <span class="spacer"></span>
          <button class="icon" mat-mini-fab aria-hidden="false" [matMenuTriggerFor]="menu" color="basic">
            <mat-icon>person</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item class="cerrarSesion" routerLink="/perfil"><mat-icon>badge</mat-icon> Mi perfil</button>
            <button mat-menu-item class="cerrarSesion" (click)="onLogOut()"><mat-icon>logout</mat-icon> Cerrar Sesión</button>
          </mat-menu>
        </mat-toolbar-row>
      </mat-toolbar>
</div>

<!--Card-->
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="card profile-card-1">
                <div>
                    <img src="https://i.pinimg.com/originals/3c/24/46/3c24462450c2a902bf7e18f3d9aada81.jpg"
                        alt="profile-sample1" class="background" />
                    <i class="fas fa-user fa-8x profile"></i>
                    <div class="card-content">
                        <h2>Bienvenido<small>Comienza tu jornada laboral</small></h2>
                        <div class="icon-block">
                            <button #empezar (click)="jornadaManager()" *ngIf="!visibilidad" [style.visibility]="hidden" role="button" class="btn boton"><i class="fas fa-sign-in-alt fa-7x"></i></button>
                            <button #finalizar (click)="jornadaManager()" *ngIf="visibilidad" [style.visibility]="visible" type="button" class="btn  boton"><i class="fas fa-sign-out-alt fa-7x"></i></button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>