<input type="checkbox" id="menu" />

<label for="menu" class="menu">
	<span></span>
	<span></span>
    <span></span>
</label>

<nav class="nav">
	<div class="fondo"></div>
	<div class="color"></div>
	<ul>
		<li><a style="cursor:pointer;" routerLink="/catalogo"><i class="fas fa-chart-line"></i> &nbsp;Catálogo</a></li>
		<li><a style="cursor:pointer;" routerLink="/proyectos"><i class="far fa-file-powerpoint"></i> &nbsp;Proyectos</a></li>
		<li><a style="cursor:pointer;" *ngIf="verSeguimiento" routerLink="/seguimiento"><i class="fas fa-user-tie iconoProyecto"></i> &nbsp;Seguimiento</a></li>
		<li><a style="cursor:pointer;" routerLink="/conoce-el-portal"><i class="fas fa-book-open"></i> &nbsp;Conoce el Portal</a></li>
		<li><a style="cursor:pointer;" routerLink="/dar-alta"><i class="fas fa-user-check"></i> &nbsp;Dar de alta</a></li>
		<li><a style="cursor:pointer;" routerLink="/contactanos"><i class="fas fa-at"></i> &nbsp;Contactanos</a></li>
	</ul>
</nav>
