<a class="ejem" mat-list-item *ngIf="!item.disabled" [ngStyle]="{'padding-left': (depth * 12) + 'px'}" (click)="onItemSelected(item)"
  [ngClass]="{'active': item.route ? router.isActive(item.route, true): false, 'expanded': expanded}">
  <mat-icon class="routeIcon">{{item.iconName}}</mat-icon>
  <p class="o" >{{item.displayName}}</p>
  <span fxFlex *ngIf="item.children && item.children.length">
    <span fxFlex></span>
    <mat-icon [@indicatorRotate]="expanded ? 'expanded': 'collapsed'">
      expand_more
    </mat-icon>
  </span>
</a>
<div *ngIf="expanded" class="item">
  <app-menu-item *ngFor="let child of item.children" [item]="child" [depth]="depth+1">
  </app-menu-item>
</div>
