

.contenedorPrincipal {
    margin-top: 120px;
}

.mat-form-field {
    width: 100%;
}

.form-control {
    resize: none;
}

h1 {
    font-size: 30px;
    color:#245380;
    font-weight: bold;
}

.iconoProyecto {
    color:  #245380;
    font-weight: bold;
}

.botonBuscar {
    background-color: transparent;
    border:none;
}

tbody:nth-child(odd){
    background: #e9e8e8;
    color: black;
}

a{
    text-decoration: none;
}

.activo {
    margin-left: 12px;
}

input:focus, select:focus, select, input.form-control:focus, textarea:focus {
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}