<app-nav class="nav"></app-nav>
<app-menuhamburguer></app-menuhamburguer>
<div class="container contenedorPrincipal">
  <div class="container border rounded table-responsive">
    <div class="d-flex mt-3">
      <h1><i class="fas fa-user-tie iconoProyecto"></i> Empleados</h1>
    </div>


    <h3 class="text-muted">Listado de empleados</h3>

    <mat-form-field class="example-full-width">
      <form class="d-flex">
        <textarea matInput placeholder="Ex. Planificación" [(ngModel)]="filterPosts" class="form-control"
          name="filterPosts"></textarea>
        <button style="cursor:pointer;" class="botonBuscar"><i class="fas fa-search"></i></button>
      </form>
    </mat-form-field>

    <table class="table border  table-hover">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nombre</th>
          <th scope="col">Primer apellido</th>
          <th scope="col">Segundo apellido</th>
          <th scope="col">Correo</th>
          <th scope="col">Activo</th>
        </tr>
      </thead>
      <tbody *ngFor="let empleado of empleados | filter: filterPosts | paginate:page_size:page_number">
        <tr  style="cursor:pointer;" class="fila" (click)="verUnEmpleado(empleado)">
          <th scope="row">{{empleado.id}}</th>
          <td >{{empleado.nombre}}</td>
          <td>{{empleado.apellido1}}</td>
          <td>{{empleado.apellido2}}</td>
          <td>{{empleado.correo}}</td>
          <td><i *ngIf="activo" class="far fa-check-circle activo" style="color:#00b347;"></i>
            <i *ngIf="!activo" class="far fa-times-circle activo" style="color: red;"></i></td>
        </tr>

      </tbody>
    </table>
    <!--ARREGLAR PAGINATOR-->
    <mat-paginator [length]="empleados.length" [pageSize]="page_size" [pageSizeOptions]="pageSizeOptions" 
    showFirstLastButtons (page)="handlePage($event)"></mat-paginator>

  </div>
</div>