.formulario{
    margin-top: 150px;    
}

.container {
    margin-top: 120px;
}

h5 {
    width:200px;
    font-size: 14px;
}

h1 {
    font-size: 30px;
    color: #245380;
    font-weight: bold;
}

.iconoAlta {
    color:  #245380;
    font-weight: bold;
}

.btn_aceptar{
    margin-top: 20px;
}

