.container {
    margin-top: 120px;
}

.formulario{
    margin-top: 40px;    
}

h5 {
    width:200px;
    font-size: 14px;
}

h1 {
    font-size: 30px;
    color: #245380;
    font-weight: bold;
}

.iconoAlta {
    color:  #245380;
    font-weight: bold;
}

.rolPrueba {
    margin-top: 8px;
}

.btn_aceptar {
    margin-bottom:15px;
}

.botonesAlta {
    font-size: 14px;
}

input {
    border: none;
    border-bottom: 1px rgb(202, 199, 199) solid;
    font-size: 16px;
}

select {
    border: none;
    border-bottom: 1px rgb(202, 199, 199) solid;
}

input:focus, select:focus, select, input.form-control:focus, textarea:focus {

    outline:none !important;

    outline-width: 0 !important;

    box-shadow: none;

    -moz-box-shadow: none;

    -webkit-box-shadow: none;

}